<div class="screen-shot">
    <div class="carousel carousel-fade" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "screenshot2.jpg", height: '500', width: '600' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "screenshot1.png", height: '500', width: '500' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "screenshot2.png", height: '450', width: '400' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "screenshot4.png", height: '450', width: '500' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mkbook.png", height: '500', width: '600' %>
        </div>
      </div>
    </div>
  </div>
